@font-face {
    font-family: 'Fraunces';
    src: url(assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

body {
    min-width: 100%;
    min-height: 100vh;
}

html {
    font-size: 62.5%;
}

.section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.bg-design {
    width: 100%;
    height: 50vh;
    border-radius: 0% 0% 50% 50% / 0% 0% 100% 100%;
    transform: scale(2);
}

.bg-design-1 {
    background-color: rgb(36,5,62);
}

.header-content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-content {
    width: 100%;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.top-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header a {
    color: white;
    font-size: 2rem;
}

.top-header a span {
    padding-bottom: 0.5rem;
}

.green-underline {
    text-decoration: underline;
    text-decoration-color: rgb(68, 255, 161);
    text-underline-position: under;
    text-decoration-thickness: 2px;
}

.main-header {
    text-align: center;
    width: 30%;
}

.main-header h2 {
    color: white;
    font-size: 5rem;
    font-family: 'Fraunces';
    font-weight: 400;
}

.main-header h2 .green-underline {
    padding-bottom: 1rem;
    text-underline-position: below;
}
